<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Free resto catalogue for you">
    <meta name="theme-color" content="#FFE268"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="manifest" href="manifest.json">
    <title>Grenyem Sehat Apps</title>
  </head>
  <a href="#mainContent" class="skip-link">Menuju ke konten</a>
<body>
  <!-- <div class="content"> -->
   <header class="app-bar">
     <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
     </div>
     <div class="app-bar__brand">
      <h1>Grenyem Apps</h1>
     </div>
     <!-- <a id="hamburger" href="#"><button>☰</button></a> -->
     <nav class="navy app-bar__navigation" id="navigationDrawer">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="#/favorite">Favorite</a></li>
              <li><a href="https://twitter.com/agamstawn">About Us</a></li>
            </ul>
      </nav>
   </header>
   <main id="mainContent"></main>
    <footer class="footer navy">
      <div class="text-center">
        <p tabindex="0">© 2021 - Grenyem by agamstawn. Hak cipta dilindungi oleh undang-undang.</p></div>
       </div>
    </footer>
      </body>
</html>